{% extends 'main/base.html' %}
{% load static %}

{% block content %}
	<div class='row'>
		<div class="col-lg-12">
			<div class="box-element">
				<a class="btn button-outline-dark" href="{% url 'product' %}">Continue Shopping</a>
				<table class="table">
					<tr>
						<th><h5>Items: <strong>{{order.getCartCount}}</strong></h5></th>
						<th><h5>Total: <strong>${{order.getCartTotal}}</strong></h5></th>
						<th><a style="float: right; margin: 1px;" class="btn btn-success "href="{% url 'checkout' %}">Checkout</a></th>
					</tr>
					
				</table>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="box-element">
				<div class="cart-row">
					<div style="flex: 2"></div>
					<div style="flex: 2"><strong>Item</strong></div>
					<div style="flex: 1"><strong>Price Per Unit</strong></div>
					<div style="flex: 1"><strong>Unit</strong></div>
					<div style="flex: 1"><strong>Quantity</strong></div>
					<div style="flex: 1"><strong>Total</strong></div>
				</div>
				{% for cart in carts %}
					<div class="cart-row">
						<div style="flex: 2"><img class="row-image" src="{{ cart.product.imageURL }}"></div>
						<div style="flex: 2">{{cart.product.category}}</div>
						<div style="flex: 1">${{cart.product.unit_price}}</div>
						<div style="flex: 1"><strong>{{cart.product.unit}}</strong></div>
						<div style="flex: 1">
							<p class='quantity'>{{cart.quantity}}</p>
							<div class="quantity">
								<img class="chg-quantity" src="{% static 'up.png' %}">
								<img class="chg-quantity" src="{% static 'down.png' %}">
							</div>
						</div>
						<div style="flex: 1">${{cart.getItemTotal}}</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock content %}