{% extends 'main/base.html' %}
{% load static %}

{% block content %}
	<a style="float: left; margin: 1px;" class="btn btn-outline-success "href="{% url 'cart' %}">Back to cart</a>
	<br>
	<br>
	<h1>Order Detail</h1>
	{% for cart in carts %}
		<ul class="list-group">
			<li class="list-group-item">SAP: {{cart.product.sap}}<br>Product: {{cart.product.category}}, {{cart.product.description}}<br>{{cart.product.unit}} per unit, ${{cart.product.unit_price}} per unit<br>
			Quantity: {{cart.quantity}} for ${{cart.getItemTotal}}</li>
		</ul>
	{% endfor %}
	<br>
	<h2 style="float:left;">Total: ${{order.getCartTotal}}</h2>
	<form style="float: right;" method="POST">
  		{% csrf_token %}
  		{{ form.email.label }}
  		{{ form.email }}
  		<br>
  		<br>
  		<button style="float: right;"  type="submit" class="btn btn-success">Place Order</button>
	</form>
{% endblock content %}