{% extends 'main/base.html' %}
{% load static %}

{% block content %}
	<a style="float: left; margin: 1px;" class="btn btn-outline-success "href="{% url 'cart' %}">Back to cart</a>
	<br>
	<br>
	<h1>Order Detail</h1>
	{% for cart in carts %}
		<ul class="list-group">
			<li class="list-group-item">SAP: {{cart.product.sap}}<br>Product: {{cart.product.category}}, {{cart.product.description}}<br>${{cart.product.unit_price}} per unit, {{cart.product.unit}} unit per stack<br>
			{{cart.quantity}} stack for ${{cart.getItemTotal}}</li>
		</ul>
	{% endfor %}
	<br>
	<h2 style="float:left;">Total: ${{order.getCartTotal}}</h2>
	<br>
	<br>
	<form method="POST">
		{% csrf_token %}
		<input type="email" name="email" placeholder="Email Required" required>
		<br>
		<br>
		<textarea style="width: 50%; resize: vertical; height: 150px;"  type="text" name="comment" placeholder="Any comment to the warehouse"></textarea>
		<br>
  		<button style="float: right;"  type="submit" class="btn btn-success">Place Order</button>
  		<br>
  		<br>
	</form>
{% endblock content %}