{% autoescape off %} 
To Edit Order(Warehouse Only): {% if request.is_secure %}HTTPS{% else %}HTTP{% endif %}://{{ domain }}{% url 'editOrder' confirmation_number=order.confirmation_number %}

Order Detail

  -Store Name: {{user.store_name}}
  -Store Location: {{user.store_location}}
  -Order Date: {{order.date}}
  -Order Confirmation Number: {{order.confirmation_number}}
  -Item Count: {{order.getCartList}} 
  -Order Total: {{order.getCartTotal}}
  -Order Status: Not Shipped
  -Comments: {{order.comment}}

Items:
{% for cart in carts %}
---------------------------------------------------------------------------------------
SAP: {{cart.product.sap}}
Category: {{cart.product.category}}
Description: {{cart.product.description}}
Size: {{cart.product.size}}
${{cart.product.unit_price}} Per Unit, {{cart.product.unit}} Unit Per Stack 
Quantity: {{cart.quantity}}
Unit Count: {{cart.getItemCount}}
Item Cost: {{cart.getItemTotal}}
---------------------------------------------------------------------------------------
{% endfor %}
To View Order: {% if request.is_secure %}HTTPS{% else %}HTTP{% endif %}://{{ domain }}{% url 'viewOrder' confirmation_number=order.confirmation_number %}
{% endautoescape %}
