{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div>
	<a class="btn btn-success "href="{% url 'home' %}">Back</a>
</div>
<div>
	<h1>Order Detail</h1>
	<h2>Confirmation Number:{{order.confirmation_number}} </h2>
	{% if order.confirm %}
		<h4>Order Status: Shipped</h4>
	{% elif not order.confirm %}
			<h4>Order Status: Not Shipped</h4>
	{% endif %}
	<h4>Oiginal Total:${{order.getCartTotal}}</h4>
	<h2>New Total:${{order.getShippedTotal}}</h2>
	<h3>Store Order Comments:</h3>
	<div style="border: 3px solid rgb(0,0,0); width: 300px; height: 100px;">
		<p>{{order.comment}}</p>
	</div>
</div>
<div>
	<form method="post">
		{% csrf_token %}
		<h1><STRONG>Items</STRONG></h1>
		{% for cart in carts %}
			<ul class="list-group">
				<li class="list-group-item">
					<div class="container">
						<div class="row">
							<div class="col">
								<img class="row-image" src="{{ cart.product.imageURL }}">
							</div>
							<div class="col">
								<p>SAP: {{cart.product.sap}}<br>Product: {{cart.product.category}}, {{cart.product.description}}<br>${{cart.product.unit_price}} per unit, {{cart.product.unit}} unit per stack<br>${{cart.product.getTotal}} per stack</p>
							</div>
							<div class="col">
								<p>Ordered Quantity/Stack: {{cart.quantity}}<br>Total Unit: {{cart.getItemCount}}<br>Total: ${{cart.getItemTotal}}
							</p>
							</div>
							<div class="col">
								<input style="width: 150px;" type="number" name="{{cart.product.sap}}-shipped-quantity" min="0" max="{{cart.quantity}}" onkeyup="if(this.value > ({{cart.quantity}}-{{cart.shipped_quantity}})) this.value = null;" placeholder="Shipping Quantity">
								<p>Shipped Quantity/Stack: {{cart.shipped_quantity}}</p>
								<p>Shipped Unit: {{cart.getShipableCount}}</p>
								<p>Shipped Total: ${{cart.getShipableTotal}}</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
		{% endfor %}
		<div>
		{% for message in messages %}
			<script type="text/javascript">alert("{{message}}")</script>
		{% endfor %}
		<h4>Tracking Number:</h4>
		<div style="border: 5px solid rgb(58,110,174); width: 200px; height:300px">
			{% for track in tracking %}
				<li>{{track.tracking_number}}</li>
			{% endfor %}
		</div>
		<br>
		<input style="border: 1px solid rgb(0, 0, 0); width: 250px;" type="text" name="tracking" placeholder="Add or Update Tracking Number">
		<br>
		<br>
		<button type="submit" class="btn btn-success">Confirm</button>
	</form>	
</div>
{% endblock content %}