{% extends 'main/base.html' %}
{% load static %}

{% block content %}
	<div class='row'>
		{% for product in products %}
			<div class="col-lg-4">
				<img class='thumbnail' src="{{ product.imageURL }}">
				<div class="box-element product">
					<h6><strong>SAP Code: {{product.sap}}</strong></h6>
					<h6><strong>Category: {{product.category}}</strong></h6>
					<h6><strong>Desc: {{product.description}}</strong></h6>
					<h6><strong>Size: {{product.size}}</strong></h6>
					<h6><strong>${{product.unit_price}} Per Unit</strong></h6>
					<h6><strong>{{product.unit}} Unit Per Stack</strong></h6>
 					<div id="{{product.id}}-product">
						{% for cart in carts %}
							{% if cart.product.sap == product.sap %}
								<div id='{{product.id}}-quantity'>In Cart:{{cart.quantity}}</div>
							{% endif %}
						{% endfor %}
					</div>
					<button data-product ={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add To Cart</button>
					<h4 style="display: inline-block; float: right;">Stack/${{product.getTotal}}</h4>
						
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock content %}