{% extends 'main/base.html' %}	
{% load static %}

{% block content %}
	{% csrf_token %}
	<h3>Store Secret Key</h3>
	<div style=" 
		margin: auto;
		text-align: center;
		width: 60%;
		border: 3px solid #73AD21;
		padding: 10px;">
		<div id='secret-text1'>
			{{ store_secret_key }}
		</div>
	</div>
	<div style=" 
		margin: auto;
		text-align: center;
		width: 60%;
		padding: 10px;">
		<form id='secret-form1'>
			<button style="float: " type='submit'>Generate</button>
		</form>
	</div>


	
	<h3>Warehouse Secret Key</h3>
	<div style=" 
		margin: auto;
		text-align: center;
		width: 60%;
		border: 3px solid #73AD21;
		padding: 10px;">
		<div id='secret-text2'>
			{{ warehouse_secret_key }}
		</div>
	</div>
	<div style=" 
		margin: auto;
		text-align: center;
		width: 60%;
		padding: 10px;">
		<form id='secret-form2'>
			<button style="float: " type='submit'>Generate</button>
		</form>
	</div>
{% endblock content %}