{% autoescape off %} 

Order Detail

  -Store Name: {{user.store_name}}
  -Store Location: {{user.store_location}}
  -Order Date: {{order.date}}
  -Order Confirmation Number: {{order.confirmation_number}}
  -Order Count: {{order.getCartList}} 
  -Order Total: {{order.getCartTotal}}
  -Order Status: Shipped
  -Tracking Number: {{order.tracking_number}}
  -Comments: {{order.comment}}

Items:
{% for cart in carts %}
---------------------------------------------------------------------------------------
SAP: {{cart.product.sap}}
Category: {{cart.product.category}}
Description: {{cart.product.description}}
Unit: {{cart.product.unit}} for ${{cart.product.unit_price}}
Quantity: {{cart.quantity}}
---------------------------------------------------------------------------------------
{% endfor %}
To View Order: {% if request.is_secure %}HTTPS{% else %}HTTP{% endif %}://{{ domain }}{% url 'viewOrder' confirmation_number=order.confirmation_number %}
{% endautoescape %}
