{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<h1>Order Detail</h1>
<h3>Confirmation Number:{{order.confirmation_number}} </h3>
<h5>Total:${{order.getCartTotal}}</h3>
{% for cart in carts %}
	<ul class="list-group">
		<li class="list-group-item">
			<div class="container">
				<div class="row">
					<div class="col">
						<img class="row-image" src="{{ cart.product.imageURL }}">
					</div>
					<div class="col">
						<p>SAP: {{cart.product.sap}}<br>Product: {{cart.product.category}}, {{cart.product.description}}<br>{{cart.product.unit}} per unit, ${{cart.product.unit_price}} per unit<br></p>
					</div>
					<div class="col">
						<p>Quantity: {{cart.quantity}}<br>Total: ${{cart.getItemTotal}}
						</p>
					</div>
				</div>
			</div>
		</li>
	</ul>
{% endfor %}

<a style="float: left; margin: 1px;" class="btn btn-success "href="{% url 'home' %}">Back</a>

{% endblock content %}