{% extends 'main/base.html' %}
{% load static %}

{% block content %}
	<div class='row'>
		<div class="col-lg-12">
			<div class="box-element">
				<div class="cart-row">
					<div style="flex: 2"></div>
					<div style="flex: 2"><strong>Item</strong></div>
					<div style="flex: 1"><strong>Price Per Unit</strong></div>
					<div style="flex: 1"><strong>Unit</strong></div>
					<div style="flex: 1"><strong>Quantity</strong></div>
					<div style="flex: 1"><strong>Total</strong></div>
				</div>
				{% for cart in carts %}
					<div class="cart-row">
						<div style="flex: 2"><img class="row-image" src="{{ cart.product.imageURL }}"></div>
						<div style="flex: 2">{{cart.product.description}}</div>
						<div style="flex: 1">${{cart.product.unit_price}}</div>
						<div style="flex: 1"><strong>{{cart.product.unit}}</strong></div>
						<div style="flex: 1">
							<p class='quantity'>{{cart.quantity}}</p>
							<div class="quantity">
								<img data-product ={{cart.product.id}} data-action="add" class="chg-quantity update-cart" src="{% static 'up.png' %}">
								<img data-product ={{cart.product.id}} data-action="remove" class="chg-quantity update-cart" src="{% static 'down.png' %}">
							</div>
						</div>
						<div style="flex: 1">${{cart.getItemTotal}}</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock content %}